<div class="signup">
  <div class="text">
    <h1>Welcome!</h1>
    <p>
      Sign in to access your profile. Examine client feedback and make improvements to the negative comments.    </p>
    <div class="icons">
      <span>
        <img src="../../../../assets/icons/facebookdark.png" alt="facebook logo">
      </span>
      <span>
        <img src="../../../../assets/icons/twitterdark.png" alt="twitter logo">
      </span>
      <span>
        <img src="../../../../assets/icons/instagramdark.png" alt="instagram logo">
      </span>
      <span>
        <img src="../../../../assets/icons/linkedindark.png" alt="linkedin logo">
      </span>
    </div>
  </div>
  <div class="form">
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="email">
          <label for="email">Email</label><br/>
          <input id="email" type="email" formControlName="email">
        </div>
        <div class="password">
          <label for="password">Password</label><br/>
          <input id="password" type="password" formControlName="password">
        </div>
        <div class="sign-up-btns">
          <button class="btnClass" type="submit" [disabled]="!loginForm.valid">Sign up</button>
          <p>Don't have an account? <a routerLink="/signup">Register</a></p>
        </div>
      </form>
      <div class="google-phone">
        <button class="google" type="submit" (click)="loginWithGoogle()">Sign in with Google'</button>
        <app-button class="phone" [text]="'Sign in with Phone number'" (OnClick)="signUp()" [btnClass]="'phone'"></app-button>
      </div>
    </div>
  </div>
</div>
