<app-navbar></app-navbar>
<div class="settings">
  <h1>Settings</h1>
  <div class="profile">
    <div class="profile-links">
      <p><a routerLink="/profile" routerLinkActive="active">Profile</a></p>
      <p> <a routerLink="/notifications" routerLinkActive="active">Notifications</a> </p>
    </div>
    <!-- notifications -->
    <div class="notifications">
      <div class="notification">
        <div>
          <h5>Errandhelper.com</h5>
          <p>3 days ago</p>
        </div>
        <p>
          My JobMag is your favourite job website in Kenya. We make job search simple as
          we provide you with all jobs in Kenya in an easy and timely manner. Click on each
          specialization or job field to view jobs in each.
        </p>
      </div>
      <div class="notification">
        <div>
          <h5>Errandhelper.com</h5>
          <p>3 days ago</p>
        </div>
        <p>
          My JobMag is your favourite job website in Kenya. We make job search simple as
          we provide you with all jobs in Kenya in an easy and timely manner. Click on each
          specialization or job field to view jobs in each.
        </p>
      </div>
      <div class="notification">
        <div>
          <h5>Errandhelper.com</h5>
          <p>3 days ago</p>
        </div>
        <p>
          My JobMag is your favourite job website in Kenya. We make job search simple as
          we provide you with all jobs in Kenya in an easy and timely manner. Click on each
          specialization or job field to view jobs in each.
        </p>
      </div>
    </div>
    <div class="past-errands">
      <h3>Past errand reviews</h3>
      <div class="errand">
        <div>
          <h5>Errandhelper.com</h5>
          <p>3 days ago</p>
        </div>
        <p>
          My JobMag is your favourite job website in Kenya. We make job search simple as
          we provide you with all jobs in Kenya in an easy and timely manner. Click on each
          specialization or job field to view jobs in each.
        </p>
      </div>
      <div class="errand">
        <div>
          <h5>Errandhelper.com</h5>
          <p>3 days ago</p>
        </div>
        <p>
          My JobMag is your favourite job website in Kenya. We make job search simple as
          we provide you with all jobs in Kenya in an easy and timely manner. Click on each
          specialization or job field to view jobs in each.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
