<app-navbar></app-navbar>
<div class="settings">
  <h1>Settings</h1>
  <div class="profile">
    <div class="profile-links">
      <p><a routerLink="/profile" routerLinkActive="active">Profile</a></p>
      <p> <a routerLink="/notifications" routerLinkActive="active">Notifications</a> </p>
    </div>
    <!-- notifications -->
    <div class="notifications">
      <div *ngIf="notifications; else noNotification">
        <div class="notification" *ngFor="let notification of notifications">
          <div>
            <h5>{{notification.email}}</h5>
            <p>{{notification.time}}</p>
          </div>
          <p>
            {{notification.message}}
          </p>
        </div>
      </div>
      <div class="no-notif">
        <ng-template #noNotification>
          <app-button [text]="'No notification'"  [btnClass]="'learn-more'"></app-button>
        </ng-template>
      </div>
    </div>
    <div class="past-errands">
      <h3>Past errand reviews</h3>
      <div *ngIf="!errands; else noErrands">
        <div class="errand" *ngFor="let errand of errands">
          <div>
            <h5>{{errand.email}}</h5>
            <p>{{errand.time}}</p>
          </div>
          <p>
            {{errand.review}}
          </p>
        </div>
      </div>
      <div class="no-notif">
        <ng-template #noErrands>
          <app-button [text]="'No errands'"  [btnClass]="'learn-more'"></app-button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
