.hero-section {
  background-image: url("../../../../assets/imgs/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36rem;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  color: #000000;

  .hero-card {
    background-color: #fff;
    width: 40%;
    padding: 2rem 1rem;

    h1 {
      font-weight: 600;
      font-size: 52px;
      line-height: 63px;
      font-family: 'Inter';

    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 2rem;
    }

    .btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.about-us {
  padding: 2rem 4rem;
  color: #000000;

  h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 22px;
  }

  p {
    width: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }

  h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    line-height: 22px;
  }

  ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }

}

.how-it-works {
  padding: 0 4rem;

  h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 22px;
  }

  p {
    width: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }

  h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    margin-bottom: 2rem;
    line-height: 22px;
  }
}

.steps {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1;

  .step {
    text-align: center;

    .circle {
      border-radius: 50%;
      border: 1px solid black;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      padding: 3rem;
      background-color: #ffffff;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 70%;
        height: 3rem;
      }
    }

    h4 {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      color: #000000;
    }

    p {
      font-family: 'Inter';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000;
    }
  }

  .arrow {
    padding-top: 4rem;
    padding-left: 0.5rem
  }
}

.testimonials-sections {
  padding: 0 4rem;


  h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 22px;
  }

}


.testimonials {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;


}

@media only screen and (max-width:500px) {
  .hero-section {
    height: 26rem;
    padding: 0 2rem;

    .hero-card {
      width: 100%;
    }
  }

  .about-us {
    padding: 2rem 2rem;

    ul {
      display: block;
      margin-top: .5rem;
    }
  }

  .how-it-works {
    padding: 2rem 2rem;
  }

  .steps {
    display: block;

    .arrow {
      display: none;
    }

    .step .circle {
      width: 10%;
    }

  }

  .book-steps {
    margin-top: 2rem;
  }
  .testimonials-sections{
    padding: 0 2rem;
  }

  .testimonials{
    display: block;

  }

}
