.btnClass {
  font-family: 'Inter';
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  width: 146px;
  height: 29.79px;
  background: #47A668;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;

}

.google {
  font-family: 'Inter';
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 178px;
  height: 30px;
  background: #C04C34
}

.phone {
  font-family: 'Inter';
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 178px;
  height: 30px;
  background: #F79327;
}

.learn-more {
  background: #000000;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  padding: .4rem 1rem;
}

.delete {
  background: #E82F72;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  padding: .4rem 1rem;
}

@media only screen and (max-width:500px) {
  .google {
    width: 148px;
  }

  .phone {
    width: 150px;
  }


}
