<div class="signup">
  <div class="text">
    <h1>Don't have an account?</h1>
    <p>
      Register and login then submit your required information to receive a contract and begin working with us.
    </p>
    <div class="icons">
      <span>
        <img src="../../../../assets/icons/facebookdark.png" alt="facebook logo">
      </span>
      <span>
        <img src="../../../../assets/icons/twitterdark.png" alt="twitter logo">
      </span>
      <span>
        <img src="../../../../assets/icons/instagramdark.png" alt="instagram logo">
      </span>
      <span>
        <img src="../../../../assets/icons/linkedindark.png" alt="linkedin logo">
      </span>
    </div>
  </div>
  <div class="form">
    <div>
      <form [formGroup]="signupForm" (ngSubmit)="signUpWithEmailAndPassword()">
        <div class="names">
          <div class="input-firstname">
            <label for="firstname">First Name</label><br/>
            <input id="first-name" type="text" formControlName="firstName">
          </div>
          <div class="input-lastname">
            <label for="lastname">Last Name</label><br/>
            <input id="last-name" type="text" formControlName="lastName">
          </div>
        </div>
        <div class="email">
          <label for="email">Email</label><br/>
          <input id="email" type="text" formControlName="email">
        </div>
        <div class="password">
          <label for="password">Password</label><br/>
          <input id="password" type="password" formControlName="password">
        </div>
        <div class="confirm-password">
          <label for="confirm password">Confirm password</label><br/>
          <input id="confirm-password" type="password" formControlName="confirmPassword">
        </div>
        <div class="checkbox">
          <input id="terms" type="checkbox" formControlName="terms">
          <label for="terms">I agree to Terms and Conditions</label>
        </div>
        <div class="sign-up-btns">
          <button class="btnClass" type="submit" [disabled]="!signupForm.valid">Sign up</button>
          <p>Have an account? <a routerLink="/login">Login</a></p>
        </div>
      </form>
      <div class="google-phone">
        <button class="google" type="submit" >Sign up with Google</button>
        <app-button [text]="'Sign up with Phone number'" (OnClick)="onSubmit()" [btnClass]="'phone'"></app-button>
      </div>
    </div>
  </div>
</div>
