<div class="angle"></div>

<div class="footer">
  <div class="footer-items">
    <p class="icons">
      <span>
        <img src="../../../../assets/icons/facebook.png" alt="facebook icon">
      </span>
      <span>
        <img src="../../../../assets/icons/twitter.png" alt="twitter icon">
      </span>
      <span>
        <img src="../../../../assets/icons/instagram.png" alt="instagram icon">
      </span>
      <span>
        <img src="../../../../assets/icons/linkedin.png" alt="linkedin icon">
      </span>
    </p>
    <p class="footer-links">
      <a routerLink="home">Home</a>
      <span class="line">|</span>
      <a routerLink="signup">Work for us</a>
      <span class="line">|</span>
      <a routerLink="book-service">Book a service</a>
    </p>
    <p>
      Copyright &copy;2023. errand.helper.co.ke All rights reserved.
      <a routerLink="">Privacy policy</a>
      <a routerLink="">Terms and conditions </a>
    </p>
  </div>
</div>
